body {
	background-color: black;
	font-family: Papyrus;
	color: white;
	box-sizing: border-box;
	margin: 0;
	min-width: 240px;
}

p {
	padding-left: 10px;
}

h1 {
	font-size: 100px;
	width: 100%;
	text-align: center;
	color: white;
	margin: 0;
	padding-top: 20px;
	font-weight: 300;
}

.main-content {
	min-height: 500px;
	width: 90%;
	margin: 60px auto;
	transition: opacity 1s ease;
}
